/********************************
	Base Styles
*********************************/

body{
	margin:0;
}

.wrapper{
	max-width: 960px;
	margin: 0 1em;
}

@media (min-width: 600px) {
	.wrapper{
		max-width: 960px;
		margin: 0 auto;
	}
}

/********************************
	Highlighted region
*********************************/

#highlighted{
	background-image: url("../images/blackboard.jpg");
}

#highlighted header{
	display: inline-block;
	width: 100%;
	margin: 1em;
}

.logo{
	max-width: 80px;
	float: left;
	margin-right: 20px;
}

#highlighted p{
	color: white;
	padding: 1em;
}

@media (min-width: 600px) {

	#highlighted header, #highlighted .block-system-main{
		float: right;
		width: 50%;
	}

	#highlighted .block-imageblock {
		width: 45%;
	}

}

/********************************
	Image Styling
*********************************/
	
img{
	max-width: 100%;
}

/********************************
	Email form
*********************************/

@media (max-width: 600px) {
	.email{
		display: none;
	}
}

/********************************
	App links
*********************************/

a.Android{
	text-indent: -9999px;
	background-image: url("../images/play.png");
}

a.iPhone{
	text-indent: -9999px;
	background-image: url("../images/appstore.png");
}