body{
	margin:0;
}

.wrapper{
	max-width: 960px;
	margin: 0 1em;
}

@media (min-width: 600px) {
	.wrapper{
		max-width: 960px;
		margin: 0 auto;
	}
}
/********************************
	Highlighted region
*********************************/

#highlighted{
	background-image: url("../images/blackboard.jpg");
}

.logo{
	max-width: 80px;
	float: left;
	margin-right: 20px;
}

#highlighted p{
	color: white;
}


@media (min-width: 600px) {

	#highlighted header{
		float: right;
		width: 50%;
	}

}

/********************************
	Image Styling
*********************************/
	
	img{
		max-width: 100%;
	}

	@media (min-width: 600px) {
  		.left {
    		float:left;
    		max-width: 45%;
    		margin-right: 5%;  		
    	}
	}

/********************************
	Email form
*********************************/