@import url(http://fonts.googleapis.com/css?family=Cabin:400,700);

* { 
	font-family: 'Cabin', sans-serif; 
}

h1{
	font-weight: bold;
	font-size: 36px;
	margin: 12px 0 15px;
	color: white;
}

h2{
	font-size: 32px;
	font-weight: bold;
	color: #E24D4D;
}

@media (min-width: 600px) {

	h1{
		font-size: 50px;
	}

	h2{
		font-size: 36px;
	}

}