@import url(http://fonts.googleapis.com/css?family=Cabin:400,700);

* { 
	font-family: 'Cabin', sans-serif;
	box-sizing: border-box;
}

h1{
	font-weight: bold;
	font-size: 36px;
	margin: 18px 0;
	color: white;
}

h2{
	font-size: 32px;
	font-weight: bold;
	color: #E24D4D;
	text-align: center;
}

p{
	font-size: 22px;
	color: #4A4A4A;
	line-height: 1.5;
}

@media (min-width: 600px) {
	h2{
		text-align: left;
	}
}

@media (min-width: 800px) {

	h1{
		font-size: 50px;
		margin: 7px 0;
	}

	h2{
	
		font-size: 36px;
	}

}